.video {
  position: relative;
  width: 330px;
  height: 80vh;
  margin: 5px;
  scroll-snap-align: start;
  border-radius: 10px;
}

.video__player {
  object-fit: fill;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  align-items: center;
  justify-content: center;

}

.video__progress{
  position: relative;
  top:-2%;
   height: 5px;
  background-color: rgb(246, 46, 46);
}


.videoplay{
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 10px;
}


.shortsVideoTop {
  position: absolute;
  min-width: fit-content;
  top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.shortsVideoTopIcon {
  display: flex;
}

.shortsVideoTopIcon > .MuiSvgIcon-root {
  font-size: 9vh;
  padding: 15px;
}

.shortsVideoSideIcons {
  position: absolute;
  right: 8px;
  bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shortsVideoSideIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 200px;
}

.shortsVideoSideIcon > p {
  color: white;
}

.shortsVideoSideIcon > .MuiSvgIcon-root {
  padding: 10px;
  font-size: 7vh;
}

.shortsBottom {
  display: flex;
  position: absolute;
  flex-direction: column;
  bottom: 10px;
}

.shortsDesc {
  display: flex;
  padding: 10px;
}

.shortsDesc > p {
  color: white;
}

.MuiSvgIcon-root {
  cursor: pointer;
  color: white;
}

.shortDetails {
  display: flex;
  align-items: center;
  padding: 10px;
}

.shortDetails > p {
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  font-weight: 500;
}

.shortDetails > button {
  padding: 5px 8px;
  outline: none;
  border-radius: 17px;
  font-size: 12px;
  cursor: pointer;
}

.shortsVideoSideIcon > .MuiSvgIcon-root:hover {
  color: blue;
}

.shortsDesc > .ticker {
  height: fit-content;
  width: 100%;
  max-width: 250px;
}

.description {
  color: white;
}

.shortsVideoSideIcon > .MuiSvgIcon-root:last-child {
  bottom: 0;
  right: 20px;
  font-size: 7vh;
}
